<div class="title">
<p>    Initial page
<p>    Try to join game as snake by making a socket connection
<p>    If the reply says snake then you are snake and insert a snake.js code script tag into the dom
<p>    Else you are a food and insert a controller.js code script tag into the dom
</div>
