<div class="title">
<p>    Initial page
<p>    Try to join game as snake by making a socket connection
<p>    If the reply says snake then you are snake and insert a snake.js code script tag into the dom
<p>    Else you are a food and insert a controller.js code script tag into the dom
<script src="/socket.io/socket.io.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1-beta1/jquery.min.js"></script>
<script src="/javascripts/keyboard.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');
  socket.on('init', function (data) {
    if (data === 'snake') {
        $('body').append('<script src="/javascripts/Snake.js"><'+'/script>');
    } else {
        $('body').append('<script src="/javascripts/Controller.js"><'+'/script>');
    }
    start(socket);
  });
</script>
</div>
