.piece {
    border: 1px solid white;
    border-right: 0;
    border-top: 0;
    background-color: rgba(221,221,221,0.4);
    display: inline-block;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin: 0;
}

/*pieces at bottom without border */
.row:last-child .piece {
    border-bottom: 0;
}

/* left should be 0 */
.row .piece:first-child {
    border-left: 0;
}


.row {
    margin: 0;
    line-height: 0;
}
#board {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin: 0;
    padding: 0;

}
#body {
    padding:0; 
}

body, html {
    display:absolute;
    overflow-x: hidden; 
    overflow-y: auto;
    margin:0;
}

html { 
  background: url("vtccblur.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}