.piece {
    border: 1px solid grey;
    border-right: 0;
    border-bottom: 0;
    display: inline-block;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin: 0;
}
.row {
    margin: 0;
    line-height: 0;
}
#board {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 1px solid grey;
    border-left: 0;
    border-top: 0;

}
#body {padding:0}
