.piece {
    border: 1px solid white;
    border-right: 0;
    border-top: 0;
    background-color: #dddddd;
    display: inline-block;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin: 0;
}
/*pieces on the top should have top border*/
.row:first-child .piece {
    border-top: 1px solid white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.row .piece:first-child {
    border-left: 1px solid white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.row .piece:last-child {
    border-right: 1px solid white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.row {
    margin: 0;
    line-height: 0;
}
#board {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    margin: 0;
    padding: 0;

}
#body {
    padding:0; 
}

body, html {
    display:absolute;
    overflow-x: hidden; 
    overflow-y: auto;
    margin:0;
}